---
import Layout from '../layouts/Layout.astro';

import ListItem from '../components/ListItem.astro';

import { xata } from "../utils/xata";
import List from '../components/List.astro';
 
const items = await xata.db.items.filter({'list.user': null, 'list.status': 'ACTIVE' }).select(["list.name", 'product.name', 'product.productType', 'amount', 'unit.name', 'comment']).getAll();
export type Item = typeof items[0];
---

<Layout title="Welcome to Astro.">
  <p>
    This is a basic implementation of a shopping list manager.
  </p>
  <p>
    Built with Bun, Astro and Xata.
  </p>
  <List>
    {items.map((item) => <ListItem item={item}/>)}
  </List>
</Layout>
