---
import type { Item } from '../pages/index.astro';
import { translate } from '../utils/trans';
import type { ItemStatus } from '../utils/xata';
import SelectItem from './SelectItem.astro';
interface Props {
  item?: Item;
}

const { item } = Astro.props;
const status = item?.status as ItemStatus;
---

<li class=`block ${status === 'INACTIVE' ? 'line-through' : ''}`>
  {
    item ? (
      <>
        {item.name ?? translate(item.product.name)}: {item.amount}&nbsp;
        {translate(item.unit.name)}
      </>
    ) : (
      <SelectItem />
    )
  }
</li>
