---
import type { Item } from '../pages/index.astro';
import { translate } from '../utils/trans';
import type { ItemStatus } from '../utils/xata';
interface Props {
  item: Item;
}

const { item } = Astro.props;
const status = item.status as ItemStatus;
---

<li class=`block ${status === 'INACTIVE' ? 'line-through' : ''}`>
  {translate(item.product.name)}
</li>
