---
import type { Item } from '../pages/index.astro';
import { translate } from "../utils/trans";
interface Props {
  item: Item;
}

const { item } = Astro.props;
---

<li class="link-card">
  {translate(item.product.name)}
</li>
