---
import { translate } from '../utils/trans';
import { xata } from '../utils/xata';
import Datalist from './Datalist.astro';
import Input from './Input.astro';
import { Icon } from 'astro-icon';
import type { ItemType } from './List.astro';
import type { ListType } from '../pages/index.astro';

const { item, list } = Astro.props;

interface Props {
  item?: ItemType;
  list: ListType;
}

const products = await xata.db.products
  .select(['id', 'name', 'productType'])
  .getAll();
export type Product = (typeof products)[0];

const units = await xata.db.units.select(['id', 'name']).getAll();
export type Unit = (typeof units)[0];
---

<form method="POST" class="flex gap-2 flex-col md:flex-row">
  <Datalist
    items={products}
    name="product"
    placeholder={translate('PRODUCT')}
    value={item?.name ?? ''}
  />
  <Input name="amount" type="number" placeholder={translate('AMOUNT')} />
  <Datalist
    items={units}
    name="unit"
    placeholder={translate('UNIT')}
    value={item?.unit.name ?? ''}
  />
  <Input name="comment" placeholder={translate('COMMENT')} />
  <Input name="id" type="hidden" value={item?.id} />
  <Input name="listId" type="hidden" value={list.id} />
  <button type="submit">
    <Icon size={24} pack="radix" name="check" />
  </button>
</form>
