---
import { translate } from '../utils/trans';
import { xata } from '../utils/xata';
import Datalist from './Datalist.astro';
import Input from './Input.astro';

const products = await xata.db.products
  .select(['id', 'name', 'productType'])
  .getAll();
export type Product = (typeof products)[0];

const units = await xata.db.units.select(['id', 'name']).getAll();
export type Unit = (typeof units)[0];
---

<form class="flex gap-2 flex-col md:flex-row">
  <Datalist
    items={products}
    name="product"
    placeholder={translate('PRODUCT')}
  />
  <Input name="item-amount" placeholder={translate('AMOUNT')} />
  <Datalist items={units} name="unit" placeholder={translate('UNIT')} />
  <Input name="item-comment" placeholder={translate('COMMENT')} />
</form>
