---
import Container from '../components/Container.astro';
import '../styles/global.css';
import { translate } from '../utils/trans';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Shopping List" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark h-full" style={'background-image: url("/bg.webp");'}>
    <div class="h-full flex flex-col">
      <header class="py-8 px-4 flex place-content-center">
        <Container>
          <h1>{translate('SHOPPING_LIST')}</h1>
        </Container>
      </header>
      <div class="flex-grow basis-full px-4 flex place-content-center">
        <main class="max-w-screen-md flex-grow">
          <slot />
        </main>
      </div>
      <footer class="py-8 px-4 flex place-content-center">
        <Container>
          <div>
            This is a basic implementation of a shopping list manager. Built
            with Bun, Astro and Xata.
          </div>
        </Container>
      </footer>
    </div>
  </body>
</html>
